@use "button";

.QuoteBox {
  width: 100%;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin: 1em auto;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Title {
  grid-column: 1 / -1;
  font-size: x-large;
  margin: 0;
}

.Subtitle {
  grid-column: 1 / -1;
  font-size: x-large;
  font-weight: bolder;
  margin: 0;
}

.TextLeft {
  justify-self: end;
  margin: 1em;
}

.TextRight {
  justify-self: start;
  margin: 1em;
}

.SubmitButton {
  @include button.blackBgButton;
}
