@use "../../styles/theme";

.Entries {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 3em;
}

.Entry {
  padding: 0 0 0 1em;
  font-size: 1.1em;
  height: 3em;
  &:first-child {
    background-color: theme.$darkShade;
  }

  display: flex;
  justify-content: start;
  align-items: center;
}