@use "../styles/theme";

.NavBar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0.5em 1em;
  @media (min-width: theme.$phoneBreakpoint) {
    padding: 0.5em 4em;
  }
}

.LogoContainer {
  overflow: hidden;
  height: 100%;
}

.Logo {
  object-fit: cover;
  filter: invert(1);
  height: 4em;
}

.Link {
  margin: 0 0.5em;
  color: white;
}
